@{
    ViewBag.Title = "Mantenimiento de Aplicaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




<div><h2>Aplicaciones</h2></div>

<button class="btn btn-primary btn-buscar right" type="button" data-toggle="modal" data-target="#ModalAplicacion" ng-click="LimpiarModal()">Nuevo</button>


<div class="well" id="content-evaluacion" data-ng-controller="aplicacionController" data-ng-init="init();">
    <div class="form-inline ">
        <div class="form-group">
            <label for="criterioBusqueda">Contenido de Busqueda:</label>
            <input type="text" class="form-control" id="criterioBusqueda" placeholder="Aplicación" ng-model="criterioBusqueda">
            <button class="btn btn-default btn-buscar" ng-click="Buscar()">Buscar</button>
        </div>
    </div>

    @*<div class="row">
            <div class="col-xs-3">
                <label for="criterioBusqueda">Contenido de Busqueda:</label>
            </div>
            <div class="col-xs-2">
                <input type="text" class="form-control" id="criterioBusqueda" placeholder="Aplicación">
            </div>
            <div class="col-xs-2">
                <button type="submit" class="btn btn-default btn-buscar">Buscar</button>
            </div>
        </div>*@


    <br />

    <div class="table-responsive">
        <table class="table table-hover table-striped table-bordered">
            <thead class="bordered-blueberry">
                <tr>
                    <th class="col-sm-2">Código</th>
                    <th class="col-sm-2">Nombre</th>
                    <th class="col-sm-2">Fec. Creación</th>
                    <th class="col-sm-2">Fec. Implementación</th>
                    <th class="col-sm-2">Tipo Aplicación</th>
                </tr>
            </thead>
            <tbody>
                <tr data-ng-repeat="t in Aplicaciones">
                    <td class="col-sm-2">
                        {{t.CodAplicacion}}
                    </td>
                    <td class="col-sm-2">
                        {{t.Nombre}}
                    </td>
                    <td class="col-sm-2">
                        {{t.FechaCreacion}}   
                    </td>
                    <td class="col-sm-2">
                        {{t.FechaImplementacion}}
                    </td>
                    <td class="col-sm-2">
                        @*<span ng-show="t.Visible==false">
                               {{t.CodTipoAplicacion}}
                            </span>*@
                        <span ng-repeat="item in TiposAplicaciones | filter: t.CodTipoAplicacion: true">
                            {{item.Nombre}}
                        </span>
                    </td>
                    <td>
                        <span class="btnAdd"><button ng-click="CargarParaEditar(t.CodAplicacion);" class="btn btn-default btn-xs">Modificar</button></span>
                        <span class="btnRed"><button ng-click="EliminarAplicacion(t)" class="btn btn-danger btn-xs">Eliminar</button></span>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>

    <div class="modal fade" id="ModalAplicacion" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="exampleModalLabel">Aplicaciones</h4>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="control-label">Código:</label>
                            <input type="text" class="form-control" id="CodAplicacion" ng-model="Aplicacion.CodAplicacion" readonly>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Nombre:</label>
                            <input type="text" class="form-control" id="Nombre" ng-model="Aplicacion.Nombre">
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Tipo de Aplicación:</label>
                            <select id="CodTipoAplicacion" class="form-control ng-pristine ng-valid ng-touched" ng-options="t.CodTipoAplicacion as t.Nombre for t in TiposAplicaciones" ng-model="Aplicacion.CodTipoAplicacion"></select>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Fecha Creación:</label>
                            <input type="text" class="form-control" id="FechaCreacion" ng-model="Aplicacion.FechaCreacion" data-ng-datepicker>
                        </div>
                        <div class="form-group">
                            <label for="message-text" class="control-label">Fecha Implementación:</label>
                            <input type="text" class="form-control" id="FechaImplementacion" ng-model="Aplicacion.FechaImplementacion" data-ng-datepicker>
                        </div>

                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary" ng-click="InsertarModificarAplicacion()">Aceptar</button>
                </div>
            </div>
        </div>
    </div>

</div>



<pre>{{Aplicaciones}}</pre>
<pre>{{TiposAplicaciones}}</pre>

@section scripts {
    <script data-main="/app/main" src="~/app/vendor/require.js"></script>
    <style>
        .datepicker {
            z-index: 1151 !important;
        }
    </style>
}
